body {
    padding-top: 25px;
    background-color: #d0d0d0;
}

.margin-top {
    margin-top: 20px;
}

.img-circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 75px
}

.margin-5 {
    display: inline-block;
    margin: 5px 0px;
}

.subImg {
    width: 25px;
    height: auto;
}

.margin-center {
    display: inline-block;
    margin: 0 auto;
}
.date_style {
    font-style: italic;
}

.thumbnail-scrollbar {
    width: 100%;
    height: auto;
}
.no-padding {
    padding: 0;
}
.video-style {
    width: 100%;
    height: auto;
}
.margin-comment-buttons {
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar {
    height: 100vh
}
.suggestions-video-text {}

@media (max-width: 992px) {
    .navbar {display: none}
    .thumbnail-scrollbar {width: 50%}
    .suggestions-video-text{text-align: center}
}