body {
    padding-top: 25px;
    background-color: #d0d0d0;
}

.margin-top {
    margin-top: 3%;
}

.img-circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 75px
}

.margin-5 {
    display: inline-block;
    margin: 5px 0;
}

.subImg {
    width: 50px;
    height: auto;
}

.margin-center {
    display: inline-block;
    margin: 0 auto;
}
.date_style {
    font-style: italic;
    font-size: 12px;
}

.thumbnail-scrollbar {
    width: 100%;
    height: auto;
}
.no-padding {
    padding: 0;
}
.video-style {
    width: 100%;
    height: auto;
}
.margin-comment-buttons {
    margin-top: 10px;
    margin-bottom: 10px;
}
.cursor-pointer {
    cursor: pointer;
}

.navbar {
    height: 100vh
}
.suggestions-video-text {}

.sidenav-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 10;
    cursor: pointer;
    display: none;
}
.hiding {}

.logo {
    width: 80px;
    height: auto;
}
.logo-container {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.header-component{}
.avatar{}
.showing {
    display: none;
    padding-bottom: 10px;
}

@media (max-width: 992px) {
    .navbar {
        display: none;
        position: fixed;
        top: 50px;
        left: 0;
        z-index: 9;
        width: 70px;
        background-color: #cde4ee;
        border: 1px solid #98abb4;
    }
    .thumbnail-scrollbar {width: 50%}
    .suggestions-video-text{text-align: center}
    .sidenav-btn {display: block}
    .hiding {display: none}
    .subImg {display: block}
    .logo {width: 40px}
    .logo-container {
        margin-left: 2%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .header-component{
        width: 100%;
        height: auto;
    }
    .avatar {width: 40px}
    .showing{display: block}
}

.tags-select {
    width: 200px;
}
.video-container {
    margin-top: 5px;
    margin-bottom: 5px;
}

.width-100 {
    width: 100%;
}

#search-autocomplete {
    position: absolute;
    top: 34px;
    background: transparent;
    width: 391px;
    z-index: 100;
}
#search-autocomplete a {
    background-color: white;
    padding: 5px 10px;
    display: block;
}
#search-autocomplete a:hover {
    background-color: rgb(43, 167, 207);
    color: white;
    text-decoration: none;
}

.watch-height {
    max-height: 640px;
    min-height: 640px;

}

.video-edit-btn {
    z-index: 100;
    position: absolute;
    top: 10px;
    right: 5px;
    display: none;
}

.video-delete-btn {
    z-index: 100;
    position: absolute;
    top: 50px;
    right: 5px;
    display: none;
}

.video-addTo-btn {
    z-index: 100;
    position: absolute;
    top: 90px;
    right: 5px;
    display: none;
}
.video-addTo-div {
    width: 200px;
    height: auto;
    text-align: center;
    background-color: white;
    z-index: 100;
    position: absolute;
    top: 125px;
    right: 5px;
    display: none;
}
.profile-tab-end {
    background-color: #cde4ee;
    color: black;
}
.profile-tab-middle {
    background-color: #c6dde7;
    color: black;
}
